.container {
  padding: 20px;
}
.main-card {
  max-width: 600px;
  margin: 1em auto;
}
.con {
  padding: 20px;
  max-width: 530px;
  box-sizing: border-box;
  width: 100%;
  margin: 2em auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin:auto;
  border: 1px solid #C1FFF2;
  color: #C1FFF2;
  border-radius: 5px;
  background: rgba(16, 27, 36, 0.9);
  vertical-align: middle;
  text-align: left;
}

button {
  font-family: 'Varela Round', sans-serif;
}

.float-right{
  float: right;
}

.full-width {
  width: 100%;
  margin: 1em;
}

.spinner {
  margin: 0 auto;
  max-width: 3em !important;
  max-height: 3em !important;
  width: 100% !important;
  height: 100% !important;
}

.spinner-sm {
  margin: 0 auto;
  width: 24px;
  height: 24px;
}
nav a {
  text-decoration: none;
}
.desktop-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.desktop-nav a {
  padding: 20px 10px;
  color: #C1FFF2;
  font-size: 20px;
}
.desktop-nav a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid #C1FFF2;
  cursor: pointer;
}

.nav-con .fa {
  position: absolute;
  color: #C1FFF2;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.nav-con .logo {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Short Stack', sans-serif;
}
.mobile-nav {
  display: none;
  min-height: 50px;
}
.mobile-nav .nav-con {
  display: inline-block;
  text-align: left;
  min-height: 50px;
}
.mobile-nav-content {
  padding-top: 0;
}
.mobile-nav-content a {
  display: block;
  padding-top: 5px;
  text-align: left;
}
@media screen and (max-width:480px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}
