<div class="con">
  <h1>Set a new Password</h1>
  <form name="form" (ngSubmit)="f.form.valid && confirmPassword()" #f="ngForm" novalidate>
      <!-- Password Input -->
      <div class="topSpacing">
        <input class="formInput" placeholder="Password" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <input class="formInput" placeholder="Confirm Password" name="password" type="password" [(ngModel)]="model.cpassword" #cpassword="ngModel" required>
        <div *ngIf="f.submitted && !cpassword.valid" class="help-block">Password confirmation is required</div>
      </div>

    <div class="buttons">
      <button class="ui-button centered topSpacing" [disabled]="loading">Reset Password</button>
    </div>
    <div
      *ngIf="loading"
      color="primary"
      mode="indeterminate"
      class="spinner">
      Loading...
    </div>
  </form>
</div>
