<app-navbar></app-navbar>
<div class="uk-section section-primary uk-section-default uk-flex hero">
  <div class="uk-container uk-container-small fullwidth uk-margin-large-top" style="z-index: 1; padding: 0;">
    <div style="padding: 0em;">
    </div>
  </div>
</div>

<div class="uk-section uk-section-default uk-section-overlap uk-flex uk-flex-center" style="padding-top: 5%;">
  <div class="uk-container-small fullwidth">
    <h2>Announcements</h2>
    <div class="uk-width-1-2" id="ancmList"></div>
  </div>
</div>

<div class="uk-section uk-section-primary uk-flex uk-flex-center" style="padding-top: 5%;">
  <div class="uk-container-small fullwidth">
    <h2 class="h2-light">Schedule</h2>
    <div uk-grid>
      <div class="uk-width-2-3@m">
        <div uk-grid class="uk-grid-small">
          <div class="uk-width-1-2@m">
              <div uk-grid class="uk-grid-small">
                  <div class="uk-width-1-1"><h3 class="h3-light">Day 1</h3></div>
                  <div class="uk-width-1-2">9 AM</div>
                  <div class="uk-width-1-2">Check-in Begins</div>
                  <div class="uk-width-1-2">10 AM</div>
                  <div class="uk-width-1-2">Opening Ceremony</div>
                  <div class="uk-width-1-2">11 AM</div>
                  <div class="uk-width-1-2">Brainstorming</div>
                  <div class="uk-width-1-2">12 PM</div>
                  <div class="uk-width-1-2">Hacking Begins</div>
                  <div class="uk-width-1-2">1 PM</div>
                  <div class="uk-width-1-2">Lunch</div>
                  <div class="uk-width-1-2">7 PM</div>
                  <div class="uk-width-1-2">Dinner</div>
                  <div class="uk-width-1-2">11 PM</div>
                  <div class="uk-width-1-2">Social Events</div>
              </div>
          </div>
          <div class="uk-width-1-2@m">
            <div uk-grid class="uk-grid-small">
                <div class="uk-width-1-1"><h3 class="h3-light">Day 2</h3></div>
                <div class="uk-width-1-2">12 AM</div>
                <div class="uk-width-1-2">Midnight Snack</div>
                <div class="uk-width-1-2">1 AM</div>
                <div class="uk-width-1-2">Social Events Cont.</div>
                <div class="uk-width-1-2">7 AM</div>
                <div class="uk-width-1-2">Breakfast</div>
                <div class="uk-width-1-2">12 PM</div>
                <div class="uk-width-1-2">Hacking Ends/Lunch</div>
                <div class="uk-width-1-2">1 PM</div>
                <div class="uk-width-1-2">Expo/Judging</div>
                <div class="uk-width-1-2">3 PM</div>
                <div class="uk-width-1-2">Closing Ceremony</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section uk-flex uk-flex-around uk-flex-wrap">
  <div class="uk-container-small fullwidth">
    <h2 class="h2">Questions?</h2>
    <div class="uk-flex uk-flex-middle">
        <a class="uk-button action-btn" href="https://www.facebook.com/helloworldpurdue/"><i class="material-icons">
    keyboard_arrow_right
    </i></a><a href="https://www.facebook.com/helloworldpurdue/" class="p-large-dark uk-margin-left">Facebook</a>
        <a class="uk-button action-btn uk-margin-large-left" href="mailto:purduehackers@gmail.com"><i class="material-icons">
        keyboard_arrow_right
      </i></a><a href="mailto:purduehackers@gmail.com" class="p-large-dark uk-margin-left">Email</a>
    </div>
  </div>
</div>