<app-navbar></app-navbar>
<div class="fullscreen uk-grid-collapse uk-child-width-expand@s" uk-grid>
	<div class="section-primary uk-flex uk-flex-middle">
		<div class="uk-container uk-container-supersmall leftBox">
				<h1 class="h1-light">Login</h1>
		</div>
	</div>
	<div class="uk-flex uk-flex-middle">
		<div class="fullwidth uk-container uk-container-supersmall flexbox-center">
      <form class="uk-form-stacked" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">EMAIL</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="email" type="email"  [(ngModel)]="model.email" #email="ngModel" required>
            </div>
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">PASSWORD</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required>
            </div>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="uk-align-right">
          <a class="link uk-margin-right" [routerLink]="['/resetPassword']">Forgot Password?</a>
          <button class="uk-button uk-button-secondary p-large-dark uk-margin-right" [routerLink]="['/register']" type="button">Register</button>
          <button class="uk-button p-large-light" [disabled]="loading" type="submit">Login</button>
        </div>
        <div
          *ngIf="loading"
          color="primary"
          mode="indeterminate"
          class="spinner">
          Loading...
        </div>
      </form>
		</div>
	</div>
</div>
