<app-navbar></app-navbar>
<div class="fullscreen uk-grid-collapse uk-child-width-expand@s" uk-grid>
	<div class="section-primary uk-flex uk-flex-middle">
		<div class="uk-container uk-container-supersmall leftBox">
			<h1 class="h1-light">Announce Something</h1>
		</div>
	</div>
	<div class="uk-flex uk-flex-middle">
		<div class="fullwidth uk-container uk-container-supersmall flexbox-center">
			<form class="uk-form-stacked" name="form" (ngSubmit)="f.form.valid && postAnnouncement()" #f="ngForm" autocomplete="off" novalidate>
      		<div class="uk-margin">
            	<label class="uk-form-label p-small" for="form-stacked-text">Announcement</label>
            	<div class="uk-form-controls">
                	<input class="uk-input" name="ancm" type="text" rows="5" [(ngModel)]="model.ancm" #ancm="ngModel">
            	</div>
        	</div>
	        
	        <div *ngIf="f.submitted && f.form.invalid" class="help-block">The input is invalid.</div>
	        <button class="uk-button p-large-light" [disabled]="loading" type="submit">Post Announcement</button>
	        <div *ngIf="loading" color="primary" mode="indeterminate" class="spinner"> Loading...</div>
      		</form>
		</div>
	</div>
</div>

