<div class="con">
  <h1>Email Verification</h1>
  <div style="text-align:center" class="topSpacing">
    <div *ngIf="loading else elseBlock">
      <h3>Verifying your email...</h3>
      <div
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        class="spinner">
        Loading...
      </div>
    </div>
    <ng-template #elseBlock>
      <h3>Email verification unsuccessful :(</h3>
      If you're having problems verifying your email, please contact us at helloworld@purduehackers.com
    </ng-template>
  </div>
</div>
