<app-navbar></app-navbar>
<div class="fullscreen uk-grid-collapse uk-child-width-expand@s" uk-grid>
	<div class="section-primary uk-flex uk-flex-middle uk-width-1-3@m">
		<div class="uk-container uk-container-supersmall leftBox uk-padding">
				<div><h1 class="h1-light">Application</h1></div>
				<div *ngIf="appSubmitted && model.updated_at">
					<p class="p-lead-light" style="margin-bottom: 0">Last Updated</p>
					<h4 class="h4-light" style="margin-top: 0">{{model.updated_at | date:'MMM d, y h:mm aa'}}</h4>
				</div>
				<div><a class="uk-link-heading p-lead-light" [routerLink]="['/home']" href="#"><span uk-icon="arrow-left"></span> Back to Home</a></div>
		</div>
	</div>
	<div class="uk-flex uk-flex-middle uk-width-2-3@m rightContainer" >
		<div class="fullwidth uk-container uk-container-supersmall floating-box" >
			<div class="application-status topSpacing" *ngIf="loading">
				<h1>LOADING</h1>
				<p>Processing your application.<p>
			</div>
      <form class="uk-form-stacked" style="padding-top: 4em;" name="form" (ngSubmit)="f.form.valid && apply()" #f="ngForm" [hidden]="loading" novalidate>

				<div class="uk-margin">
						<label class="uk-form-label p-small" for="form-stacked-text">I identify as... *</label>
						<div class="uk-form-controls">
							<select class="uk-select uk-input" [ngClass]="{'invalidInput':(f.submitted && !model.gender_select)}" [(ngModel)]="model.gender_select" #gender_select="ngModel" name="gender_select" required>
								<option *ngFor="let gender of genders" [value]="gender.value">
									{{gender.viewValue}}
								</option>
							</select>
						</div>
						<div class="uk-form-controls uk-margin-small-top" *ngIf="model.gender_select == 'other'">
								<input class="uk-input" name="gender_other" type="text"  [(ngModel)]="model.gender_other" #gender_other="ngModel" placeholder="Other">
						</div>
						<div *ngIf="f.submitted && !gender_select.valid" class="uk-text-danger">Gender is required.</div>
				</div>

				<div class="uk-margin">
						<label class="uk-form-label p-small" for="form-stacked-text">Race/Ethnicity*</label>
						<div class="uk-form-controls">
							<select class="uk-select uk-input" [ngClass]="{'invalidInput':(f.submitted && !model.race)}" [(ngModel)]="model.race" #race="ngModel" name="race" required>
								<option *ngFor="let race of races" [value]="race.value">
									{{race.viewValue}}
								</option>
							</select>
						</div>
						<div *ngIf="f.submitted && !race.valid" class="uk-text-danger">Race/Ethnicity is required.</div>
				</div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">Class Year*</label>
            <div class="uk-form-controls">
              <select class="uk-select uk-input" [ngClass]="{'invalidInput':(f.submitted && !model.class_year)}" [(ngModel)]="model.class_year" #class_year="ngModel" name="class_year" required>
                <option *ngFor="let year of class_years" [value]="year.value">
                  {{year.viewValue}}
                </option>
              </select>
            </div>
						<div *ngIf="f.submitted && !class_year.valid" class="uk-text-danger">Class Year is required.</div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">Graduation Year*</label>
            <div class="uk-form-controls">
              <select class="uk-select uk-input" [ngClass]="{'invalidInput':(f.submitted && !model.grad_year)}" [(ngModel)]="model.grad_year" #grad_year="ngModel" name="grad_year"  required>
                <option *ngFor="let year of grad_years" [value]="year">
                  {{year}}
                </option>
              </select>
            </div>
						<div *ngIf="f.submitted && !grad_year.valid" class="uk-text-danger">Graduation Year is required.</div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">Major*</label>
            <div class="uk-form-controls">
								<ng-autocomplete (selected)="selectedMajor($event)" [classes]="['']" [group]="majorsAutocomplete" name="major" type="major" id="major" required></ng-autocomplete>
            </div>
						<div *ngIf="f.submitted && !model.major" class="uk-text-danger">Major is required.</div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">How did you hear about us?*</label>
            <div class="uk-form-controls">
              <select class="uk-select uk-input" [ngClass]="{'invalidInput':(f.submitted && !model.referral)}" [(ngModel)]="model.referral" #referral="ngModel" name="referral"  required>
                <option *ngFor="let referral of referrals" [value]="referral.value">
                  {{referral.viewValue}}
                </option>
              </select>
            </div>
						<div *ngIf="f.submitted && !referral.valid" class="uk-text-danger">Referral is required.</div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">Hackathon Count*</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="hackathon_count" type="number" min="0" [(ngModel)]="model.hackathon_count" #hackathon_count="ngModel" placeholder="0" required>
            </div>
						<div *ngIf="f.submitted && !hackathon_count.valid" class="uk-text-danger">Hackathon Count is required.</div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">Dietary Restrictions</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="dietary_restrictions" type="text"  [(ngModel)]="model.dietary_restrictions" #dietary_restrictions="ngModel">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">Shirt Size*</label>
            <div class="uk-form-controls">
              <select class="uk-select uk-input" [ngClass]="{'invalidInput':(f.submitted && !model.shirt_size)}" [(ngModel)]="model.shirt_size" #shirt_size="ngModel" name="shirt_size"  required>
                <option *ngFor="let size of shirt_sizes" [value]="size.value">
                  {{size.viewValue}}
                </option>
              </select>
            </div>
						<div *ngIf="f.submitted && !shirt_size.valid" class="uk-text-danger">Shirt Size is required.</div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">Personal Website or GitHub Link</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="website" type="text"  [(ngModel)]="model.website" #website="ngModel">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">Why do you want to attend Hello World?*</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea" name="longanswer_1" type="text" minlength="140" maxlength="1000" rows="5" [(ngModel)]="model.longanswer_1" #longanswer_1="ngModel" required></textarea>
            </div>
						<div *ngIf="f.submitted && !longanswer_1.valid" class="uk-text-danger">Response has to be between 140 and 1000 characters.</div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">What do you hope to learn from your experience at Hello World?*</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea" name="longanswer_2" type="text" minlength="140" maxlength="1000" rows="5" [(ngModel)]="model.longanswer_2" #longanswer_2="ngModel" required></textarea>
            </div>
						<div *ngIf="f.submitted && !longanswer_2.valid" class="uk-text-danger">Response has to be between 140 and 1000 characters.</div>

        </div>

        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">Upload Your Resume (Optional but highly recommended)</label>
						<div class="uk-form-controls">
							<div class="js-upload uk-placeholder uk-text-center p-small uk-form-custom">
								<input id="resume" type="file" name="file" (change)="setFile($event)" accept=".pdf"/>
	              <div *ngIf='filename; else elseBlock'>
	                <span uk-icon="icon: copy"></span> {{filename}}
	              </div>
	              <ng-template #elseBlock>
									<div uk-form-custom>
										<span uk-icon="icon: cloud-upload"></span>
										<span class="uk-text-middle">Attach a resume by dropping it here or selecting one.</span>
									</div>
	              </ng-template>
	          	</div>
						</div>
        </div>

      <div class="uk-align-right">
        <button class="uk-button p-large-dark" [disabled]="loading" mdRippleColor="#F00" type="submit">
          <div *ngIf='appSubmitted'>
            Update Application
          </div>
          <div *ngIf='!appSubmitted'>Submit</div>
        </button>
      </div>
      <div *ngIf="f.submitted && f.form.invalid" class="uk-text-warning">Some fields are missing and/or invalid.</div>
      </form>
			<div
				*ngIf="loading"
				color="primary"
				mode="indeterminate"
				class="spinner">
				<div class="uk-position-bottom-center uk-margin-bottom">
					<div uk-spinner></div>
				</div>
			</div>
		</div>
	</div>
</div>
