<app-navbar></app-navbar>
<div class="uk-section section-primary uk-section-default uk-flex hero">
  <div class="uk-container uk-container-small fullwidth uk-margin-large-top" style="z-index: 1; padding: 0;">
    <div style="padding: 0 1em;">
      <h1 class="h1-light">Purdue's<br>freshman-only<br>hackathon.</h1>
      <button class="uk-button p-large-light uk-margin-top" [routerLink]="['/login']">Apply</button>
    </div>
  </div>
  <div class="hero-img-container">
    <img src="assets/images/hero-rocket.svg" class="hero-img" />
  </div>
</div>
<div class="uk-section uk-section-default uk-section-overlap uk-flex uk-flex-center" style="padding-top: 15%;">
  <div class="uk-container-small fullwidth">
    <h2>About</h2>
    <div>
        <p>
          Launch your ideas at Hello World, Purdue’s freshman-only hackathon. Over the course of 24 hours, you’ll work on a project, attend workshops, and win fun prizes all in the comfort of your home campus.
        </p>
        <p>
          Why should you attend Hello World? It’s especially great if you’re new to hackathons. At Hello World, you’ll be in an approachable environment where you can collaborate with your classmates. You’ll also be able to connect with our <a href="#sponsors">sponsors</a>. And of course - free food and swag.
        </p>
        <p>
          Applications open on August 24. Hello World will be on September 15 - 16.
        </p>
    </div>
  </div>
</div>
<div class="uk-section uk-section-primary uk-flex uk-flex-center"  style="padding-bottom: 0;">
  <div class="uk-container-small fullwidth">
    <h2 class="h2-light">Schedule</h2>
    <div uk-grid>
      <div class="uk-width-2-3@m">
        <iframe width="100%" height="300px" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJfw3Ca7LiEogRxUHhdrGHkJo&key=AIzaSyBBVmjYgH5d7sxq0FD3mPvNBdIUxqWURO0" allowfullscreen>
        </iframe>
      </div>
      <div class="uk-width-1-3@m">
        <p class="p-large-light">
          <b>Date</b>
        </p>
        <p class="p-large-light">
          September 15 - 16
        </p>
        <p class="p-large-light">
          <b>Location</b>
        </p>
        <p class="p-large-light">
          Purdue University
        </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-section uk-section-primary uk-flex uk-flex-center" style="padding-top: 0;">
  <div class="uk-container-small fullwidth">
    <div uk-grid>
      <div class="uk-width-2-3@m">
        <div uk-grid class="uk-grid-small">
          <div class="uk-width-1-2@m">
              <div uk-grid class="uk-grid-small">
                  <div class="uk-width-1-1"><h3 class="h3-light">Day 1</h3></div>
                  <div class="uk-width-1-2">9 AM</div>
                  <div class="uk-width-1-2">Check-in Begins</div>
                  <div class="uk-width-1-2">10 AM</div>
                  <div class="uk-width-1-2">Opening Ceremony</div>
                  <div class="uk-width-1-2">11 AM</div>
                  <div class="uk-width-1-2">Brainstorming</div>
                  <div class="uk-width-1-2">12 PM</div>
                  <div class="uk-width-1-2">Hacking Begins</div>
                  <div class="uk-width-1-2">1 PM</div>
                  <div class="uk-width-1-2">Lunch</div>
                  <div class="uk-width-1-2">7 PM</div>
                  <div class="uk-width-1-2">Dinner</div>
                  <div class="uk-width-1-2">11 PM</div>
                  <div class="uk-width-1-2">Social Events</div>
                  <!-- <div class="uk-width-1-2">6:00&nbsp;PM&nbsp;</div>
                  <div class="uk-width-1-2">Lift-Off</div>
                  <div class="uk-width-1-2">6:00&nbsp;PM&nbsp;</div>
                  <div class="uk-width-1-2">Lift-Off</div> -->
              </div>
          </div>
          <div class="uk-width-1-2@m">
            <div uk-grid class="uk-grid-small">
                <div class="uk-width-1-1"><h3 class="h3-light">Day 2</h3></div>
                <div class="uk-width-1-2">12 AM</div>
                <div class="uk-width-1-2">Midnight Snack</div>
                <div class="uk-width-1-2">1 AM</div>
                <div class="uk-width-1-2">Social Events Cont.</div>
                <div class="uk-width-1-2">7 AM</div>
                <div class="uk-width-1-2">Breakfast</div>
                <div class="uk-width-1-2">12 PM</div>
                <div class="uk-width-1-2">Hacking Ends/Lunch</div>
                <div class="uk-width-1-2">1 PM</div>
                <div class="uk-width-1-2">Expo/Judging</div>
                <div class="uk-width-1-2">3 PM</div>
                <div class="uk-width-1-2">Closing Ceremony</div>
                <!-- <div class="uk-width-1-2">6:00&nbsp;PM&nbsp;</div>
                <div class="uk-width-1-2">Lift-Off</div>
                <div class="uk-width-1-2">6:00&nbsp;PM&nbsp;</div>
                <div class="uk-width-1-2">Lift-Off</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-section uk-section-secondary uk-flex uk-flex-around uk-flex-wrap">
  <div class="uk-container-small fullwidth">
    <h2 class="h2-light">FAQ</h2>
  </div>
  <div class="uk-container fullwidth uk-flex uk-flex-between uk-flex-wrap">
    <div class="uk-padding-small uk-width-1-3@m">
      <div class="uk-card uk-card-default uk-card-body fullheight">
        <h3>What is Hello World?</h3>
        <p>Hello World is hackathon for Purdue freshman. It’s an opportunity to build a cool project and develop your skills in a fun and collaborative space. You’ll be surrounded by your peers and will have access to all of the help and resources you need.</p>
      </div>
    </div>
      <div class="uk-padding-small uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body fullheight">
          <h3>What is a Hackathon?</h3>
        <p>A hackathon is not a place where people get together and try to break into websites. To us, hacking is when people come together to create awesome technical projects. People from all over the world will come together for Hackathons every few weeks, working together to make something amazing. Along the way there’s usually fun, food, and prizes.</p>
      </div>
    </div>
      <div class="uk-padding-small uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body fullheight">
          <h3>Do I need to be good at programming?</h3>
        <p>Nope! We’re going to have lots of volunteers and mentors who can help you throughout the weekend. On top of that, we’ve put together some awesome resources to help you get started with any language or platform you want.</p>
      </div>
    </div>
      <div class="uk-padding-small uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body fullheight">
          <h3>How do I apply?</h3>
        <p>Just sign up <a href="/#/register" [routerLink]="['/register']">here!</a> with your Purdue email and fill out the application form. We’ll let you know in the next few weeks if you’ve been accepted.</p>
      </div>
    </div>
      <div class="uk-padding-small uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body fullheight">
          <h3>Do I need to pay?</h3>
        <p>Nope! Hello World is completely free. Just show up with your laptop and charger, and we’ll provide the food, friends, prizes, and mentors.</p>
      </div>
    </div>
      <div class="uk-padding-small uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body fullheight">
          <h3>Are teams allowed?</h3>
        <p>Yes! You can have teams of up to 4 people.</p>
      </div>
    </div>
      <div class="uk-padding-small uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body fullheight">
          <h3>What are the rules?</h3>
        <p>The project you make for Hello World has to be brand new-- you can’t use code that you’ve written before the event. And of course, be respectful of others. Harassment and abuse are never tolerated.</p>
      </div>
    </div>
      <div class="uk-padding-small uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body fullheight">
          <h3>When is Hello World?</h3>
        <p>Hello World will take place on September 15th and 16th. We’ll have mentors and volunteers in the building for all 24 hours, so you can code through the night if you want! We’ll have a more detailed schedule coming soon.</p>
      </div>
    </div>
      <div class="uk-padding-small uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body fullheight">
          <h3>I have more questions!</h3>
        <p>No problem! You can email us at <a href="mailto:helloworld@purduehackers.com">helloworld@purduehackers.com</a></p>
      </div>
    </div>
  </div>
</div>
<div class="uk-section uk-flex uk-flex-around uk-flex-wrap" id="sponsors">
  <div class="uk-container-small fullwidth">
    <h2>Sponsors</h2>
    <div>
      <p>
        If you are interested in sponsoring Hello World 2018, email us at <a href="mailto:helloworld@purduehackers.com">helloworld@purduehackers.com</a> for more details!
      </p>
    </div>
  </div>
  <div class="uk-container fullwidth" uk-slider>
    <div class="uk-position-relative uk-visible-toggle uk-light">
      <ul class="uk-slider-items uk-grid uk-padding">
          <li>
              <div class="uk-card uk-card-default sponsor-card">
                  <div class="uk-card-media-top">
                      <img src="assets/images/Microsoft-logo_rgb_gray.png" alt="Microsoft" title="Microsoft">
                  </div>
              </div>
          </li>
          <!-- <li>
            <div class="uk-card uk-card-default sponsor-card">
                <div class="uk-card-media-top">
                    <img src="assets/images/Capital_One_logo.svg" alt="CapitalOne" title="CapitalOne">
                </div>
            </div>
          </li>
          <li>
              <div class="uk-card uk-card-default sponsor-card">
                  <div class="uk-card-media-top">
                      <img src="assets/images/techpoint_logo.png" alt="Techpoint" title="Techpoint">
                  </div>
              </div>
          </li> -->
          <li>
              <div class="uk-card uk-card-default sponsor-card">
                  <div class="uk-card-media-top">
                      <img src="assets/images/sfab.jpg" alt="SFAB" title="SFAB" style="padding: 1em;">
                  </div>
              </div>
          </li>
          <!-- <li>
              <div class="uk-card uk-card-default sponsor-card">
                  <div class="uk-card-media-top">
                      <img src="assets/images/purdue-cs-logo.gif" alt="Purdue CS Department" title="Purdue Computer Science Department" style="padding: 1em;">
                  </div>
              </div>
          </li> -->
        </ul>
        <div class="uk-position-center-left-out fade-bg-left"></div>

        <a class="uk-position-center-left-out uk-button action-btn" href="#" uk-slider-item="previous"><i class="material-icons">
keyboard_arrow_left
</i></a>
        <a class="uk-position-center-right-out uk-button action-btn" href="#" uk-slider-item="next"><i class="material-icons">
keyboard_arrow_right
</i></a>
        <div class="uk-position-center-right-out fade-bg-right"></div>

      </div>
  </div>
</div>
<div class="uk-section uk-section-secondary uk-flex uk-flex-around uk-flex-wrap">
  <div class="uk-container-small fullwidth">
    <h2 class="h2-light">Reach new heights.</h2>
    <button class="uk-button p-large-light uk-margin-top" [routerLink]="['/login']">Apply</button>
  </div>
</div>
<div class="uk-section uk-flex uk-flex-around uk-flex-wrap">
  <div class="uk-container-small fullwidth">
    <h2 class="h2">Questions?</h2>
    <div class="uk-flex uk-flex-middle">
        <a class="uk-button action-btn" href="https://www.facebook.com/helloworldpurdue/"><i class="material-icons">
    keyboard_arrow_right
    </i></a><a href="https://www.facebook.com/helloworldpurdue/" class="p-large-dark uk-margin-left">Facebook</a>
        <a class="uk-button action-btn uk-margin-large-left" href="mailto:purduehackers@gmail.com"><i class="material-icons">
        keyboard_arrow_right
      </i></a><a href="mailto:purduehackers@gmail.com" class="p-large-dark uk-margin-left">Email</a>
    </div>
  </div>
</div>
