<div class="uk-position-top">
   <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left uk-flex uk-flex-middle">
          <a class="uk-navbar-item uk-logo" href="#"><img src="assets/images/logo-white.svg" alt="logo" class="logo"></a>
          <a class="uk-navbar-item" href="#"><h3 class="h3-light no-margin">Hello World</h3></a>
      </div>
      <!-- <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <button class="ui-button p-large-light">Apply</button>
        </div>
      </div> -->
   </nav>
</div>
