/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/

/* Color palette */
:root {
  --dark-blue: #1d1f7a;
  --purple: #7233ad;
}

body {
  font-family: 'Lato', sans-serif !important;
  margin: 0;
  color: white;
  background-size: 100% auto;
  background-repeat: repeat-y;
}

h1{
  font-family: 'Lato', sans-serif !important;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1d1f7a;
  color: var(--dark-blue);
}
.h1-light {
  font-family: 'Lato', sans-serif !important;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}
.h2-light {
  font-family: 'Lato', sans-serif !important;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
h2{
  font-family: 'Lato', sans-serif !important;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f7a;
  color: var(--dark-blue);
}
.h3-light {
  font-family: 'Lato', sans-serif !important;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
h3{
  font-family: 'Lato', sans-serif !important;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f7a;
  color: var(--dark-blue);
}
.p-lead{
  font-family: 'Lato', sans-serif !important;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: #1d1f7a;
  color: var(--dark-blue);
}
.p-lead-light {
  font-family: 'Lato', sans-serif !important;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: #ffffff;
}
h4{
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f7a;
  color: var(--dark-blue);
}
.h4-light {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
p {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1d1f7a;
  color: var(--dark-blue);
}

.p-large-dark {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1d1f7a;
  color: var(--dark-blue);
}

.p-large-light {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}
.p-small{
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #1d1f7a;
  color: var(--dark-blue);
}
.p-small-light {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}

.ui-button {
  border: none;
	cursor: pointer !important;
	padding: 1em 2em;
	display: inline-block;
	text-transform: uppercase;
  text-decoration: none;
	outline: none;
	position: relative;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0 rgba(139, 149, 166, 0.5);
  background-color: #1d1f7a;
  background-color: var(--dark-blue);
  border: solid 1px #1d1f7a;
  border: solid 1px var(--dark-blue);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  color: white;
}

.ui-button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.ui-button:hover {
  background-color: #7233ad;
  border: solid 1px #7233ad;
}

.ui-button:active {
  background-color: #7233ad;
  border: solid 1px #7233ad;
}

.ui-button:disabled {
  background-color: rgba(139, 149, 166, 0.5);
}

.ui-button-secondary{
  box-shadow: 0 4px 4px 0 rgba(139, 149, 166, 0.25);
  background-color: #ffffff;
  border: solid 2px #1d1f7a;
  border: solid 2px var(--dark-blue);
  color: var(--dark-blue);
}

.ui-button-secondary:hover {
  background-color: #ffffff;
  border: solid 2px #7233ad;
}

.ui-button-secondary:active {
  background-color: #ffffff;
  border: solid 2px #7233ad;
}

.formInput {
  /*position: absolute;*/
  padding: 12px 20px;
  font-size: 18px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  border: solid 2px #7233ad;
  background-color: white;
  color: var(--purple);
  text-align: left;
  transition: border-color ease 0.5s;
}

.formInput:focus:required:invalid {
  outline: none;
  border-color: red;
}

.formInput:required:valid {
  outline: none;
  border-color: #4CAF50;
}

.invalidInput {
  outline: none !important;
  border-color: red !important;
}

.fullscreen {
	height: 100%;
	width: 100%;
	// position: absolute;
}

.fullwidth {
  width: 100%;
}

.body-container {
  height: 100vh;
}

.section-primary {
  background-image: linear-gradient(to top, rgba(114, 51, 173, 0.5), rgba(29, 31, 122, 0.75));
}

.uk-container-supersmall {
  max-width: 70%;
}

.leftBox {
  height: 50%;
  width: 100%;
}
