<div class="con">
  <div>
    <h1>Reset Password</h1>
    <div class="topSpacing">
      <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
        <div class="inputWrapper">
          <input class="formInput" placeholder="Email" name="email" type="email" [(ngModel)]="model.email" #email="ngModel" required>
        </div>
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
      <div class="buttons">
        <button class="ui-button topSpacing" [disabled]="loading">Reset Password</button>
      </div>
        <div
          *ngIf="loading"
          color="primary"
          mode="indeterminate"
          class="spinner">
          Loading...
        </div>
      </form>
    </div>

  </div>
</div>
