<div class="fullscreen uk-grid-collapse uk-child-width-expand@s" uk-grid>
	<div class="section-primary uk-flex uk-flex-middle">
		<div class="uk-container uk-container-supersmall leftBox">
				<h1 class="h1-light">Register</h1>
		</div>
	</div>
	<div class="uk-flex uk-flex-middle">
		<div class="fullwidth uk-container uk-container-supersmall">
      <form class="uk-form-stacked" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">FIRST NAME</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="firstname" type="firstname"  [(ngModel)]="model.firstname" #firstname="ngModel" required>
            </div>
            <div *ngIf="f.submitted && !firstname.valid" class="uk-text-danger">First Name is required</div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">LAST NAME</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="lastname" type="lastname"  [(ngModel)]="model.lastname" #lastname="ngModel" required>
            </div>
            <div *ngIf="f.submitted && !lastname.valid" class="uk-text-danger">Last Name is required</div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">EMAIL</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="email" type="email"  [(ngModel)]="model.email" #email="ngModel" required placeholder="pete@purdue.edu">
            </div>
            <div *ngIf="f.submitted && !email.valid" class="uk-text-danger">Email is required</div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">PASSWORD</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required>
            </div>
            <div *ngIf="f.submitted && !password.valid" class="uk-text-danger">Password is required</div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label p-small" for="form-stacked-text">CONFIRM PASSWORD</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="cpassword" type="password" [(ngModel)]="model.cpassword" #cpassword="ngModel" required>
            </div>
            <div *ngIf="f.submitted && !cpassword.valid" class="uk-text-danger">Password Confirmation is required</div>
        </div>
        <div class="uk-align-right">
          <button class="uk-button uk-button-secondary p-large-light uk-margin-right" [routerLink]="['/login']">Login</button>
          <button class="uk-button p-large-dark" [disabled]="loading" [routerLink]="['/register']">Register</button>
        </div>
        <div
          *ngIf="loading"
          color="primary"
          mode="indeterminate"
          class="spinner">
          Loading...
        </div>
      </form>
		</div>
	</div>
</div>


<!-- <div class="con">
  <h1>Register</h1>

  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <input class="formInput topSpacing" placeholder="First Name" name="firstname" type="text" [(ngModel)]="model.firstname" #firstname="ngModel" required>
    <div class="help-block" *ngIf="f.submitted && !firstname.valid">First Name is required</div>
    <input class="formInput topSpacing" placeholder="Last Name" name="lastname" type="text" [(ngModel)]="model.lastname" #lastname="ngModel" required>
    <div class="help-block" *ngIf="f.submitted && !lastname.valid">Last Name is required</div>
    <input class="formInput topSpacing" placeholder="Purdue Email" name="email" type="email" [(ngModel)]="model.email" #email="ngModel" pattern="^[A-Za-z0-9._%+-]+@purdue.edu$" required>
    <div class="help-block" *ngIf="f.submitted && !email.valid">Purdue Email is required</div>
    <input class="formInput topSpacing" placeholder="Password" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required>
    <div class="help-block" *ngIf="f.submitted && !password.valid">Password is required</div>
    <button class="ui-button topSpacing" [disabled]="loading" mdRippleColor="#F00">Register</button>
    <button class="ui-button topSpacing" [routerLink]="['/login']">Login</button>
    <div
      *ngIf="loading"
      color="primary"
      mode="indeterminate"
      class="spinner">
      Loading...
    </div>

</form>
</div> -->
